.disciplinesSpecialized {
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    @media (min-width: 1440px) {
      margin-bottom: 89px;
      text-align: center;
    }
  }

  &__programList {
    @media (min-width: 1440px) {
      margin-bottom: 147px;
    }
  }

  &__notes {
    display: grid;
    gap: 23px 0;

    @media (min-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 30px;
    }
  }

  &__note {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 31px;
    padding-bottom: 41px;
    position: relative;

    &_bgBrightRed {
      background-color: $brightRed;
    }

    &_bgblackOlive {
      background-color: $blackOlive;
    }

    @media (min-width: 1440px) {
      padding: 56px;
    }
  }

  &__noteCornerWhite {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 26px 26px 0;
    border-color: transparent $white transparent transparent;

    @media (min-width: 1440px) {
      border-width: 0 43px 43px 0;
    }
  }

  &__noteCornerBrightRed {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 0 0 26px;
    border-color: transparent transparent transparent darken($brightRed, 20%);

    @media (min-width: 1440px) {
      border-width: 43px 0 0 43px;
    }
  }

  &__noteTitle {
    margin-bottom: 22px;
  }

  &__noteTextList {
    display: flex;
    margin-bottom: 15px;
  }
}
